// /* mixins */

@mixin sHeader($cText, $cBG) {
	 position: relative;
    font-family: $cText;
    font-size: 2.0rem;
    width: 50%;
    color:$cText;
    margin:20px 0;
    min-width:200px;
    max-width:300px;
    padding: 5px 0;
    border: 3px solid $cText;
    text-align: center;
    border-radius:5px;
    text-transform:uppercase;

    &::after,
     &::before {
        content: '';
        position: absolute;
        height: 3px;
        background-color: $cBG;
        width: 30%;
    }

    &::after {
        bottom: -3px;
        left: 50%;
    }
    &::before {
        top: -3px;
        rightt: 50%;
    }
}
// @mixin arrow($direction) {
//     &::after {
//         content: "";
//         margin:0px 5px;
//         border: solid black;
//         border-width: 0 3px 3px 0;
//         display: inline-block;
//         padding: 3px;
//     }
//     @if $direction==up {
//         &::after {
//             transform: rotate(-135deg);
//             -webkit-transform: rotate(-135deg);
//         }
//     }
//      @if $direction==down {
//         &::after {
//     transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
//         }
//     }
//     @if $direction==left {
//         &::after {
//     transform: rotate(135deg);
//     -webkit-transform: rotate(135deg);
//         }
//     }
//     @if $direction==right {
//         &::after {
//     transform: rotate(-45deg);
//     -webkit-transform: rotate(-45deg);
//         }
//     }
// }



