/* ABOUT */
.about{
  background-color:$color-3;
  padding:20px;
  color:$color-4;
}
.about__header{
  @include sHeader($color-4, $color-3);
}
.about__profile{
  background-image: url('../images/profile.jpg');
  background-size:cover;
  width:200px;
  height:200px;
  border-radius:50%;
   margin:0 auto;
}
.profile__content{
  font-size:1.5rem;
  letter-spacing:1px;
  text-align:justify;
  line-height:1.8rem;
  text-indent: 30px;
      max-width:1200px;
    margin:0 auto;

}
.about__courses{


}
.courses__header{
font-size:2.0rem;
text-transform:uppercase;
margin:10px 0;
color:$color-5;
}
.courses__list{
list-style-type:none;
padding:5px;
}
.courses__elem{
font-size:1.5rem;
line-height:1.8rem;
margin-bottom:5px;
}

/* HOBBY */
.about__hobby{
display:flex;
flex-wrap:wrap;
justify-content:center;
}
.hobby__header{
  font-size:2.0rem;
text-transform:uppercase;
margin:10px 0;
color:$color-5;
width:100%;
}
.slider{
  // display:flex;
  // justify-content:flex-start;
  // align-items:center;
  // flex-direction:row;
  // flex-wrap:nowrap;
  // overflow:hidden;
  // padding:0;
  position:relative;
  width:100%;
  height:200px;
 overflow:hidden;

}
.slider__list{
 // display:flex;
 // list-style:none;
 // padding:0;
 // width:350px;
 // height:400px;
 // position:relative;
 // left:-50px;
 //  list-style-type:none;
 display:flex;
 list-style:none;
 padding:0;
 width:100%;
 position:relative;
 // left:-50px;
 transition: .5s ease-in-out;
}
.slider__elem{
 display:inline-block;
 width:350px;
 order:2;
transition: .5s ease-in-out;
 &-first{
  order:1;
  width:350px;
  transition: .5s ease-in-out;

 }
}

.slider__img{
  width:300px;
  // height:auto;
  transition: .5s ease-in-out;

}
.slider__btn{
  z-index:2;
   background-color:transparent;
   color:white;
   font-size:1.4rem;
   border:none;
   transition:0.5s;
  &:hover{
    transform:scale(1.2);
  }
  &--next{
    position: absolute;
   right:0;
   top:50%;
    
  }
  &--prev{
    position: absolute;
    left:0;
    top:50%;
  }
}

.is-steady{
 transform:none;
 transition:transform 1s ease-in-out;
}

.is-back{
  transform:translateX(-300px);
}